#version=RHEL8
ignoredisk --only-use=sda
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8 --addsupport=ru_RU.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain
repo --name="Minimal" --baseurl=file:///run/install/repo/Minimal
# Root password
rootpw --iscrypted $6$T5xCC1s7eyvLEswC$U1XFZ85aKl1.xsM3t5t0hn8mj1FAypl8S5Gn.s1j1DJt5bXSZV2ySjljyJ9QpBU.kVNdFXWQQPJpPVyeVzYeR0
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Moscow --isUtc --nontp
user --name=user --password=$6$9C94vVMVmgU9eH6N$f3pJ1yJg5pKE8qWXw7m8J512WWBrOUfZcsbml/rMltrOrCMziD1ruBjPQyqjcLbUk2n.4yjZ8PpF.uh.q0wGt1 --iscrypted --gecos="user"
# Disk partitioning information
part /boot --fstype="ext4" --ondisk=sda --size=1024
part pv.221 --fstype="lvmpv" --ondisk=sda --size=6080
volgroup cl --pesize=4096 pv.221
logvol swap --fstype="swap" --size=819 --name=swap --vgname=cl
logvol / --fstype="ext4" --size=4300 --name=root --vgname=cl
logvol /home --fstype="xfs" --size=953 --name=home --vgname=cl

%packages
@^server-product-environment
@file-server
@gnome-desktop
@hardware-monitoring
@headless-management
@network-file-system-client
@performance
@system-tools
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
